.card {
    width: '50rem';
    height:'30rem';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;
  }
  
  .desc {
    font-size: 14px;
  }
  
  .star {
    color: gold;
  }
  
  .username {
    font-size: 14px;
  }
  
  .date {
    font-size: 12px;
  }
  
  form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(211, 50, 50);
  }
  
  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
  }
  
  .buttons,
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
  }
  
  .logout{
    background-color: tomato;
  }
  
  .login{
    background-color: teal;
    margin-right: 10px;
  }
  
  .register{
    background-color: slateblue;
  }

  .cardResult {
    position: relative;
    width: max-content;
    background: #f8f6f6;
    margin: 20px 40px;
    padding: 20px 40px;
    transition: 0.4s all;
  }

  .grid {
    position: fixed;
    width: max-content;
    overflow-y: scroll;
    top: 3.5rem;
    bottom: 0;
    background-color: tomato;
    box-sizing: content-box;
    
  }
.mb-3{
  
  margin: 2rem;
  
}
/* #formcontrols{
  width: 3rem;
} */
.input-group {
  width: 90% !important;
}

.form-control {
  width: 50% !important;
}
.dp{
  margin-left: 2rem;
}
.cardss{
  width: '50rem';
  height:'30rem';
  margin: 2rem;
  font-size: 14px;
  
}